body { margin:0; }

.container {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	fontFamily: Roboto, sans-serif
}

[data-reactroot] {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
}

.mainDrawer {
	top: 4em;
}
